body {
    background: linear-gradient(to bottom, #0B1326, #17B57E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;

    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero {
    position: relative;
}

.subtitle {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.profiles {
    display: flex;
    justify-content: center;
}